.main{
    height: 20vh;
}
/* .boxes{
    
} */
.btn{
    height: 10vh;
    width: 10vh;
    justify-content: center;
    gap: 20vh;
    background-color: green;
    color: white;

}
.hide{
    display: none;
}
